 body {
             background-color: pink;
           }
           
          ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              position: fixed;
              background-color: #D3D3D3;
              width: 100%;
              top: 0;
              left: 0;
  
            }
           li {
               display: inline;
               float: left;
             width: 100px;
             padding: 5px;
             margin: 5px;}

             li a:hover {
               background-color: white; 
              font-size: 100px;                
          }   
           
       </style>
    </head>
   
<body>
     
    <ul>
     <li><a href="index.html">Home</a></li>
     <li><a href="https://www.google.com">Google</a></li>
     <li><a href="https://www.powayusd.com/en-US/Schools/HS/WVHS/HOME">Westview</a></li>
